@import '../../styles/references';

.root {
  position: relative;
  padding: 24px 48px;

  @media (min-width: 768px) {
    padding: 48px 96px;
  }

  .container {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .left {
    position: relative;
    width: 100%;

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1024px) {
      width: calc(33% - 32px);
      margin-right: 64px;
    }
  }

  .right {
    width: 100%;

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1024px) {
      width: calc(66% - 32px);
    }
  }

  .visual {
    width: 380px;
    height: 280px;
  }

  .title {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: 'Tropiline Semibold', sans-serif;
    font-size: 36px;
    color: $color-primary;

    @media (min-width: 1024px) {
      margin-top: 0;
    }
  }

  .author {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 40px;
    font-family: 'Suomi', sans-serif;
    font-size: 36px;

    .image {
      border-radius: 50%;
    }

    .username {
      margin-left: 12px;
      color: $color-primary-darker;
    }
  }

  .types {
    display: flex;
    margin-bottom: 24px;

    .label {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

  .label {
    display: block;
    width: fit-content;
    padding: 8px 24px;
    border-radius: 8px;
    color: white;
    background-color: $color-primary;

    &-difficulty {
      position: absolute;
      top: 16px;
      left: 16px;
    }

    &-diet {
      background-color: $color-secondary;
    }
  }

  .image {
    max-height: 200px;
    object-fit: cover;
  }

  .no-image {
    background-color: gray;
  }

  .stars {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(25%) translateY(-45%);
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
      flex-direction: row;
      background-color: $color-primary;
    }

    p {
      color: white;
      text-align: center;
    }
  }

  .detail {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-primary;
    padding: 8px 24px;
    border-radius: 8px;

    span {
      display: block;
      width: fit-content;
      margin: auto;
    }
  }
}
