@font-face {
  font-family: 'Mabry Light';
  src: url('../fonts/mabry-light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mabry Medium';
  src: url('../fonts/mabry-medium.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Suomi';
  src: url('../fonts/suomi.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tropiline Regular';
  src: url('../fonts/tropiline-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tropiline Semibold';
  src: url('../fonts/tropiline-semibold.otf');
  font-weight: normal;
  font-style: normal;
}
