.poi {
  cursor: pointer;
  position: relative;
  display: none;
}

.poi-inner-circle {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 30;
  height: 30px;
  width: 30px;
  background-color: #db8670;
}

@keyframes pulse {
  from {
    transform: translateY(-50%) translateX(-50%) scale(0.5);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 0;
  }
}
@keyframes pulseOuter {
  from {
    transform: translateY(-50%) translateX(-50%) scale(0.1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 0;
  }
}

.poi-middle-circle {
  height: 80px;
  z-index: 20;
  width: 80px;
  background-color: #db867098;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  animation: 2s ease-in-out infinite pulseOuter;
}
.poi-outer-circle {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 100%;

  height: 105px;
  width: 105px;
  background-color: #db86703d;
  animation: 2s ease-out infinite pulseOuter;
}

.garden-ui {
  position: relative;
  z-index: 10;
}
.poi-icon{
  
}
