@import 'references';
@import 'webgl';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.searchWrapper {
  display: flex;
  border: none !important;
  color: $color-primary;

  input {
    &::placeholder {
      color: $color-primary;
    }
  }
}

.optionListContainer {
  top: 100%;
  left: 0;
}

.optionContainer {
  .option {
    &:hover{
      color: white;
      background-color: $color-primary;
    }
  }
}