@import 'references';
@import 'webgl';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;

  background-image: url('/images/ui/noise-texture.png');
  background-size: cover;
  background-color: $color-cream-darker;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
