@import '../../styles/references';

.root {
  .group {
    display: flex;
    margin-bottom: 24px;
  }

  // Disable arrow button inside number input
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
