@import '../styles/references';

.root {
  min-height: 100vh;
  background-image: url('/images/ui/noise-texture.png');
  background-size: cover;
  background-color: $color-cream-darker;

  .back {
    cursor: pointer;
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 2;
    display: flex;
    width: fit-content;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid $color-primary-darker;

    .icon {
      margin: auto;
    }
  }

  .title {
    position: relative;
    z-index: 1;
    margin-top: 48px;
    margin-bottom: 32px;
    font-family: 'Tropiline Semibold', sans-serif;
    font-size: 36px;
    color: $color-primary;
    text-align: center;
  }

  .ripped {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
