@import '../styles/references';

.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;

  .back {
    cursor: pointer;
    position: absolute;
    top: 48px;
    left: 48px;
    display: flex;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid white;

    .icon {
      margin: auto;
    }
  }
}
