@import '../styles/references';

.root {
  min-height: 100vh;
  background-color: $color-primary-darker-300;

  .head {
    // position: relative;
    // z-index: 100;
    width: 100%;
    height: 80px;
    background-color: red;
  }

  .members {
    display: flex;
    width: 100vw;
  }

  .member {
    height: auto;
  }
}
