@import '../styles/references';

.root {
  position: relative;
  min-height: 100vh;
  background-color: $color-primary-darker-300;

  .members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 48px;
  }

  .member {
    cursor: pointer;
    height: auto;
  }

  .head {
    padding-top: 48px;
  }

  .back {
    cursor: pointer;
    display: flex;
    width: fit-content;
    margin: 0 0 0 48px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid white;

    .icon {
      margin: auto;
    }
  }

  .add {
    position: absolute;
    left: 50%;
    bottom: 48px;
    display: flex;
    padding: 12px 24px;
    font-size: 20px;
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 8px;
    transform: translate(-50%);

    .icon {
      width: 24px;
      margin-right: 12px;
    }
  }
}
