@import '../styles/references';

.root {
  .container {
    position: absolute;
    top: 50%;
    right: 180px;
    width: 465px;
    height: 600px;

    background-image: url('/images/ui/noise-texture.png');
    background-size: cover;
    background-color: $color-cream-darker;

    border-radius: 16px;
    transform: translateY(-50%);
  }

  .close {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);

    display: flex;
    justify-content: center;
    width: 56px;
    height: 56px;

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('/images/ui/button.svg');
      transition: all 0.3s ease-in-out;
    }

    .icon {
      margin: auto;
    }

    &:hover {
      .background {
        transform: scale(1.1);
      }
    }
  }

  .head {
    position: relative;
  }

  .header {
    width: 100%;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Tropiline Regular', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 0;
    color: white;
    transform: translateX(-50%) translateY(-50%);
  }

  .notifications {
    height: 80%;
    padding: 16px;
    overflow: scroll;
    .notification {
      position: relative;
      font-family: 'Mabry Light', sans-serif;
      margin: 0;

      .label {
        display: flex;
        align-items: center;
        line-height: 20px;
      }

      .icon {
        width: 24px;
        margin-right: 12px;
      }

      .separator {
        width: 100%;
      }
    }
  }
}
