@import '../../styles/references';

.root {
  width: 100%;
  .tabs {
    display: flex;
    margin-bottom: 24px;

    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    @media (min-width: 520px) {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }

    .tab {
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 20px;
      color: $color-primary-darker;
      opacity: 0.5;

      &:not(:last-child) {
        margin-right: 40px;
      }

      .icon {
        margin-right: 10px;
        width: 48px;

        @media (min-width: 520px) {
          display: block;
          width: auto;
        }
      }

      .label {
        display: none;

        @media (min-width: 520px) {
          display: block;
        }
      }

      &-active {
        opacity: 1;
      }
    }
  }

  .content {
    max-height: 400px;
    overflow-y: scroll;
  }

  .ingredient {
    margin-bottom: 32px;
    font-size: 18px;
    color: $color-primary-darker;
    list-style-type: circle;
  }

  .instruction {
    list-style-type: none;
    .step {
      font-size: 20px;
      color: $color-primary;
    }
    .text {
      font-size: 18px;
      color: $color-primary-darker;
    }
  }
}
