@import '../../styles/references';

.root {
  position: absolute;
  z-index: 50;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #1c2d22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .number {
    position: absolute;
    color: white;
    font-family: 'Tropiline Regular', sans-serif;
    font-size: 56px;
  }
}
