$color-primary: #75a37d;
$color-primary-lighter: #dbe0d1;
$color-primary-darker: #3d5b56;
$color-primary-darker-300: #3e5c57;
$color-primary-darker-500: #141f1d;

$color-secondary: #d15e47;
$color-secondary-lighter: #db8670;
$color-secondary-darker: #8f2e24;

$color-cream: #f3f1ec;
$color-cream-lighter: #f5f5f0;
$color-cream-darker: #e7ddc8;
